<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weiver">

    <uses-sdk tools:overrideLibrary="android.support.*" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_weiver"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_weiver_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.weiver.Test2"></activity>
        <activity android:name="com.example.weiver.TestUploadImage">
        </activity>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase-analytics_collection_enabled"
            android:value="false" />

        <service
            android:name="com.example.weiver.MyFirebaseMessangingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSANGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="com.yongbeam.y_photopicker.util.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name="com.example.weiver.Login2Activity" />
        <activity android:name="com.example.weiver.AuthPhoneNumber" />
        <activity android:name="com.example.weiver.ChangePasswordActivity2" />
        <activity android:name="com.example.weiver.ChangePasswordActivity" />
        <activity android:name="com.example.weiver.FindIdActivity" />
        <activity android:name="com.example.weiver.JoinActivity" />
        <activity android:name="com.example.weiver.SellScreen" />
        <activity android:name="com.example.weiver.BuyList" />
        <activity android:name="com.example.weiver.BuyScreen" />
        <activity android:name="com.example.weiver.LoginActivity" />
        <activity android:name="com.example.weiver.TalkRoom" />
        <activity android:name="com.example.weiver.TalkList" />
        <activity android:name="com.example.weiver.SellList" />
        <activity android:name="com.example.weiver.SellerInform" />
        <activity android:name="com.example.weiver.SellerReview" />
        <activity android:name="com.example.weiver.WriteReview" />
        <activity android:name="com.example.weiver.Category1" />
        <activity android:name="com.example.weiver.Category2" />
        <activity android:name="com.example.weiver.Category3" />
        <activity android:name="com.example.weiver.Category4" />
        <activity android:name="com.example.weiver.Category5" />
        <activity android:name="com.example.weiver.Category6" />
        <activity android:name="com.example.weiver.Category7" />
        <activity android:name="com.example.weiver.OnDealList" />
        <activity android:name="com.example.weiver.OnDealList2" />
        <activity android:name="com.example.weiver.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.weiver.MainActivity" />
    </application>

</manifest>